.container {
  display:flex;
  justify-content:center;
  align-items:center;
  color:#0011ff;
  font-family:sans-serif;
  background-color:yellow;
}


.btn{
  color:green;
  width:50px;
 margin:10px;
border-radius:10px;
  
}


.q{
  border:2 px solid;
  border-radius:10px;
  margin:10px;

  
}

